@import '../../sass/colors'

.signup-flex
	display: flex
	justify-content: center
	align-items: center
	.signup-content
		min-width: 600px
		min-height: 400px
		margin-top: 50px
		margin-bottom: 50px
		border-radius: 20px
		display: flex
		flex-direction: column
		justify-content: space-around
		align-items: center
		background-color: $bg-header
