<div class="admin-flex" ng-controller="AdminCtrl as admin">
	<div class="admin-content">

		<p>ADMIN :</p>
		<div class="admin-separate">
			<div class="admin-list">
				<p>liste des articles :</p>
				<div class="admin-db">

					<div class="db-list" ng-repeat="article in admin.articles">
						<p>{{article.titre}}</p>
						<div class="db-icon">
							<div class="onoffswitch">
  						  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    						<label class="onoffswitch-label" for="myonoffswitch">
        				<span class="onoffswitch-inner"></span>
        				<span class="onoffswitch-switch"></span>
						    </label>
							</div>
							<a href="" ><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
							<a href="" ng-click="admin.removeDb(article)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
						</div>
					</div>


				</div>
			</div>
			<div class="admin-edit">
				<h2>Edition/Création</h2>

				<div class="admin-create">
					<p>{{createEdit}}</p>
					<form>
						<div class="admin-title">
							<p>Nom de l'article :</p>
							<input type="text" name="" ng-model="admin.title">
						</div>
						<div class="admin-desc">
							<p>Description :</p>
							<input type="text" ng-model="admin.descrip">
						</div>
						<div class="admin-content">
							<textarea ng-model="admin.contenu"></textarea>
							<div>
								<button type="submit" ng-click="admin.addDb(article)">Publier</button>
								<button type="submit" ng-click="admin.saveDb(article)">Sauvegarder</button>
								<button type="submit">Modifier</button>
							</div>
						</div>
					</form>

				</div>
			</div>
	</div>
</div>
</div>
