<div class="home" ng-controller="HomeCtrl as home">
	<div class="container">
		<section class="container-left">


			<div class="list-article" style="border:1px solid red">
				<div class="container-left-img">
					<img src="http://placehold.it/125x125">
				</div>
				<div class="container-left-text">
					<h2>On a posé une fusée sur le soleil</h2>
					<h6>Il y à XX min</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto ut incidunt, nobis soluta culpa illum perspiciatis consequatur distinctio,autem.</p>
				</div>
			</div>

		</section>

















		<!-- PARTIE ARTICLE -->

		<section class="container-right">

			<div class="right-title">
				<h2>On à posé une fusée sur le soleil</h2>
				<hr>
					<div class="nav-icon">
						<div class="arrow-left">
						<a href="#" class="arrow-left" title="article précédent">
							<i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>
						</a>
						</div>

						<a href="#" class="comment" title="comment">
							<span class="nbr-comment">10</span><i class="fa fa-commenting" aria-hidden="true"></i>
						</a>
						<a href="" class="like" title="like">
							<span class="nbr-like">15</span><i class="fa fa-heart" aria-hidden="true"></i>
						</a>
						<div class="arrow-right">

							<a href="#" class="arrow-right" title="article suivant">
								<i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
							</a>
						</div>

					</div>
				<hr>
				<h6 style="margin-left:40px">Publié le ...</h6>

				<div class="container-right-img">
					<img src="http://placehold.it/600x300">
				</div>
				<div class="container-right-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad numquam explicabo inventore aperiam necessitatibus aut deleniti eveniet doloremque alias veniam, optio, harum eaque repellendus, molestiae perferendis ipsa dignissimos perspiciatis accusantium! Officiis quos saepe, amet ipsum repellat similique quo consectetur autem dignissimos totam maxime adipisci, esse libero nesciunt officia illo voluptatum! Reprehenderit sed, doloribus autem accusamus. Recusandae est eum, atque. Rem. <br><br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad numquam explicabo inventore aperiam necessitatibus aut deleniti eveniet doloremque alias veniam, optio, harum eaque repellendus, molestiae perferendis ipsa dignissimos perspiciatis accusantium! Officiis quos saepe, amet ipsum repellat similique quo consectetur autem dignissimos totam maxime adipisci, esse libero nesciunt officia illo voluptatum! Reprehenderit sed, doloribus autem accusamus. Recusandae est eum, atque. Rem.</p>
				</div>

				<hr>

				<div class="nav-comment">
					<h2>2 COMMENTAIRES</h2>

					<span>
						<a href="" class="like" title="like">
							<span class="nbr-like">15</span><i class="fa fa-heart" aria-hidden="true"></i>
						</a>
					</span>
				</div>
				<hr>

				<div class="all-comment">
					<div class="one-comment">
						<div class="one-comment-avatar">
							<img src="http://placehold.it/80x80">
						</div>
						<div class="one-comment-text">
							<h3>bolosDu9.3 tu vois</h3>
							<h6>Il y a xx min</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, iusto, consequuntur ratione in perspiciatis perferendis culpa inventore similique vel repellendus nisi dolorum molestiae accusamus suscipit rerum voluptatem repellat! Veniam, voluptatum?
							</p>
						</div>
					</div>
					<div class="one-comment">
						<div class="one-comment-avatar">
							<img src="http://placehold.it/80x80">
						</div>
						<div class="one-comment-text">
							<h3>bolosDu9.3 tu vois</h3>
							<h6>Il y a xx min</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, iusto, consequuntur ratione in perspiciatis perferendis culpa inventore similique vel repellendus nisi dolorum molestiae accusamus suscipit rerum voluptatem repellat! Veniam, voluptatum?
							</p>
						</div>
					</div>
					<hr>
					<h3>Ajouter votre commentaire</h3>
					<hr>

					<div class="entry-comment">
						<form action="" method="post">
							<textarea name="comment" id="plouf" cols="60" rows="10" autofocus="on" placeholder="Ne postez pas d'insultes, évitez les majuscules... Tout message d'incitation à caractère raciste, pédophile ou insultant envers une personne ou groupe de personne est strictement interdit et sera puni d'un bannissement."></textarea>


						</form>
							<input type="submit" value="Envoyer"/>

					</div>

				</div>

























		</section>


	</div>
</div>
